/* Custom color variables */
:root {
    --primary-color: #a1f02b7d;
    /* Your custom primary color */
    --secondary-color: #fac021;
    /* Your custom secondary color */
    --primary-color-hover: #6ea11c;
    --secondary-color-hover: #80610d;
    --bs-light: #1cd9255b;
    --bs-light-rgb: #169c6221;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #1a1a1a;
    color: #e0e0e0;
}

.nav-link.active {
    font-weight: bold;
  }
  

/* Override default Bootstrap colors using custom variables */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #000;
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: #000;
}

.btn-extra {
    background-color: var(--bs-light);
    border-color: var(--bs-light);
    color: #000;
}

.btn-primary:hover {
    background-color: var(--primary-color-hover);
    /* Your custom hover color for primary buttons */
    border-color: var(--primary-color-hover);
    /* Optionally, modify the border color as well */
}

.btn-secondary:hover {
    background-color: var(--secondary-color-hover);
    /* Your custom hover color for secondary buttons */
    border-color: var(--secondary-color-hover);
    /* Optionally, modify the border color as well */
}

.btn-extra:hover {
    background-color: var(--bs-light-rgb);
    border-color: var(--bs-light-rgb);
    color: #000;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

#imageContainer img {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.gradient-box {
    background: linear-gradient(45deg, var(--bs-light-rgb), var(--bs-light));
    /* padding: 20px; */
    /* color: white; */
    /* text-align: center; */
}

.gradient-box-sec {
    background: linear-gradient(45deg, var(--primary-color), var(--bs-light-rgb));
    /* padding: 20px;
    color: white;
    text-align: center; */
}

.scroll-indicator {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.scroll-indicator.active {
    opacity: 1;
}

.arrow {
    display: block;
    width: 50px;
    height: 50px;
    border: solid var(--secondary-color);
    border-width: 0 7px 7px 0;
    transform: rotate(45deg);
    animation: arrowBounce 2s infinite;
}

@keyframes arrowBounce {
    0% {
        transform: rotate(45deg) translateX(0) translateY(0);
    }

    50% {
        transform: rotate(45deg) translateX(20px) translateY(20px);
    }

    100% {
        transform: rotate(45deg) translateX(0) translateY(0);
    }
}